/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos globais */
body {
    font-family: Arial, sans-serif;
    background-color: #fff; /* Fundo branco */
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Estilos do cabeçalho */
header {
    background-color: #000; /* Preto */
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

/* Estilos da barra de navegação */
nav {
    background-color: #000; /* Preto */
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #666; /* Cinza mais escuro */
}

/* Estilos do conteúdo principal */
.banner {
    text-align: center;
    padding: 60px 0;
}

.banner h1 {
    font-size: 36px;
    margin-bottom: 10px;
    color: #000; /* Preto */
}

.banner p {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}

.banner .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000; /* Preto */
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.banner .btn:hover {
    background-color: #666; /* Cinza mais escuro */
}

/* Estilos da seção "Destaques" */
.destaque {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 0;
}

.destaque-item {
    flex-basis: calc(33.33% - 20px);
    background-color: #fff;
    border: 1px solid #e0e0e0;
    padding: 30px;
    margin-bottom: 20px;
    text-align: center;
    transition: transform 0.3s;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.destaque-item:hover {
    transform: translateY(-5px);
}

.destaque-item h2 {
    color: #000; /* Preto */
    font-size: 24px;
    margin-bottom: 10px;
}

.destaque-item p {
    color: #666;
    font-size: 16px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000; /* Preto */
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #666; /* Cinza mais escuro */
}

/* Estilos da seção "Sobre" */
.sobre {
    padding: 80px 0;
    background-color: #fff;
    text-align: center;
}

.sobre h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #000; /* Preto */
}

.sobre-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.sobre-card {
    flex-basis: calc(33.33% - 20px);
    background-color: #f8f8f8;
    border: 1px solid #e0e0e0;
    padding: 30px;
    margin-bottom: 20px;
    text-align: center;
    transition: transform 0.3s;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.sobre-card:hover {
    transform: translateY(-5px);
}

.sobre-card h3 {
    color: #000; /* Preto */
    font-size: 24px;
    margin-bottom: 10px;
}

.sobre-card p {
    color: #666;
    font-size: 16px;
    line-height: 1.6;
}

/* Estilos dos ícones nos cards */
.sobre-icon {
    font-size: 40px;
    margin-bottom: 10px;
    color: #000; /* Preto */
}

/* Estilos da seção "Contato" */
.contato {
    padding: 80px 0;
    background-color: #fff;
    text-align: center;
}

.contato h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #000; /* Preto */
}

.contato p {
    font-size: 18px;
    color: #666;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto 30px;
}

.formulario {
    text-align: left;
    max-width: 600px;
    margin: 0 auto;
}

.campo-formulario {
    margin-bottom: 20px;
}

.campo-formulario label {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}

.campo-formulario input,
.campo-formulario textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
}

.campo-formulario textarea {
    resize: vertical;
    height: 120px;
}

.btn-enviar {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000; /* Preto */
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn-enviar:hover {
    background-color: #666; /* Cinza mais escuro */
}

/* Estilos da seção de Projetos */
.projetos {
    padding: 80px 0;
    background-color: #fff;
    text-align: center;
}

.projeto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    padding: 20px;
    border: 1px solid #ccc; /* Cinza mais claro */
    background-color: #f7f7f7; /* Cinza claro */
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.projeto:hover {
    transform: translateY(-5px);
}

.projeto h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #000; /* Preto */
}

.projeto p {
    font-size: 16px;
    color: #555; /* Cinza mais escuro */
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto 20px;
}

.btn-saiba-mais {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000; /* Preto */
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn-saiba-mais:hover {
    background-color: #333; /* Preto mais escuro */
}

/* Estilos do rodapé */
footer {
    background-color: #000; /* Preto */
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
