{% extends 'base.html' %}
{% block conteudo %}
<section class="contato">
    <div class="container">
        <h2>Entre em Contato</h2>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for mensagem in messages %}
                <div class="alert alert-success" role="alert">
                    {{ mensagem }}
                </div>                    
                {% endfor %}
            {% endif %}
        {% endwith %}
        <p>Estamos ansiosos para te ouvir. Preencha o formulário abaixo ou utilize os meios de contato fornecidos.</p>
        <div class="contato-wrapper">
            <form action="" class="formulario" method="post">
                {{ formulario.csrf_token }}
                <div class="campo-formulario">
                    <label for="nome">Nome:</label>
                    {{ formulario.nome }}
                </div>
                <div class="campo-formulario">
                    <label for="email">Email:</label>
                    {{ formulario.email }}
                </div>
                <div class="campo-formulario">
                    <label for="telefone">Telefone:</label>
                    {{ formulario.telefone }}
                </div>
                <div class="campo-formulario">
                    <label for="mensagem">Mensagem:</label>
                    {{ formulario.mensagem }}
                </div>
                {{ formulario.enviar }}
            </form>
            <div class="informacoes-contato">
                <div class="contato-item">
                    <h3>Email</h3>
                    <p>progsistemas@engdacomputacao.com</p>
                </div>
                <div class="contato-item">
                    <h3>Telefone</h3>
                    <p>(84) 6234-5678</p>
                </div>
                <div class="contato-item">
                    <h3>Endereço</h3>
                    <p>Av. Sen. Salgado Filho, 123<br>Natal, Rio Grande do Norte</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

