{% extends 'base.html' %}

{% block conteudo %}
<section class="hero">
    <div class="hero-content">
        <h1 class="display-4">Bem-vindo ao Universo da Programação</h1>
        <p class="lead">Explorando, Aprendendo, Inovando</p>
        <a href="#destaques" class="btn btn-primary btn-lg">Começar</a>
    </div>
</section>

<section id="destaques" class="destaque py-5">
    <div class="container">
        <div class="row">
            <!-- ... Seção de destaques ... -->
        </div>
    </div>
</section>

<section class="sobre py-5">
    <div class="container">
        <!-- ... Seção sobre ... -->
    </div>
</section>

<section class="blog-posts py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="blog-post">
                    <img src="caminho-da-imagem-1.jpg" alt="Imagem do post">
                    <h2>Título do Primeiro Post</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac libero vel justo cursus laoreet a ut mi. Suspendisse eu bibendum urna, vel varius quam. Donec at lectus ut metus fermentum hendrerit in vel justo.</p>
                    <a href="#" class="btn btn-primary">Leia Mais</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="blog-post">
                    <img src="caminho-da-imagem-2.jpg" alt="Imagem do post">
                    <h2>Título do Segundo Post</h2>
                    <p>Proin id erat sit amet mauris porttitor tincidunt. Sed suscipit tincidunt odio eget congue. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse eget dictum sem.</p>
                    <a href="#" class="btn btn-primary">Leia Mais</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="blog-post">
                    <img src="caminho-da-imagem-3.jpg" alt="Imagem do post">
                    <h2>Título do Terceiro Post</h2>
                    <p>Nullam eu urna eros. Sed ac purus vel felis tempus iaculis. Morbi pellentesque orci sed ligula egestas, in auctor dolor fringilla. Donec tincidunt neque augue, nec vestibulum quam eleifend in.</p>
                    <a href="#" class="btn btn-primary">Leia Mais</a>
                </div>
            </div>
            <!-- Repita os blocos .blog-post conforme necessário para mais posts -->
        </div>
    </div>
</section>
{% endblock %}
